<%= simple_form_for(@waiting_list, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="form-group">
      <label for="patient"><%= f.label :patient %></label>
      <%= f.association :patient, label: false, input_html: { class: "form-control" } %>
      <%= simple_form_for(@patient, html: { class: 'form-horizontal' }) do |form_patient| %>
        <%= render partial: "patients/patient_fields", locals: {f: form_patient} %> %>
      <% end %>
    </div>

    <div class="form-group">
      <label for="office"><%= f.label :office %></label>
      <%= f.association :office, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="start_date"><%= f.label :start_date %></label>
      <%= f.input :start_date, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="end_date"><%= f.label :end_date %></label>
      <%= f.input :end_date, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="pathology"><%= f.label :pathology %></label>
      <%= f.association :pathology, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="comments"><%= f.label :comments %></label>
      <%= f.input :comments, label: false, input_html: { class: "form-control" } %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
