<div class="form-group">
  <label for="health_place"><%= f.label :health_place %></label>
  <%= f.association :health_place, label: false, input_html: { class: "form-control" } %>
</div>

<div class="form-group">
  <label for="start_date"><%= f.label :start_date %></label>
  <%= f.input :start_date, label: false, input_html: { class: "form-control" } %>
</div>

<div class="form-group">
  <label for="end_date"><%= f.label :end_date %></label>
  <%= f.input :end_date, label: false, input_html: { class: "form-control" } %>
</div>

<div class="form-group">
  <label for="pathology"><%= f.label :pathology %></label>
  <%= f.association :pathology, label: false, input_html: { class: "form-control" } %>
</div>

<div class="form-group">
  <label for="comments"><%= f.label :comments %></label>
  <%= f.input :comments, label: false, input_html: { class: "form-control" } %>
</div>