<div class="form-group">
  <%= f.association :health_place, label: false, input_html: { class: "form-control" } %>
</div>

<div class="form-group">
  <%= f.input :start_date, label: false, input_html: { class: "form-control" }, as: :hidden %>
</div>

<div class="form-group">
  <%= f.input :end_date, label: false, input_html: { class: "form-control" }, as: :hidden %>
</div>

<div class="form-group">
  <%= f.association :pathology, label: false, input_html: { class: "form-control" }, as: :hidden %>
</div>

<div class="form-group">
  <%= f.input :comments, label: false, input_html: { class: "form-control" }, as: :hidden %>
</div>