<% if waiting_lists.count > 0 %>
  <div class="row">
    <% waiting_lists.each_with_index do |waiting_list, index| %>
      <div class="waiting-list-row-container col-12 col-sm-6 col-md-4 col-lg-2 col-xl-2 ">
        <div class="waiting-list-row <%= waiting_list.patient.priority ? "waiting-list-row-priority" : "waiting-list-row-not-priority" %>">
          <div class="inscription_date">
            <span class="label-tooltip drop-menu"><strong><%= waiting_list.start_date.andand.strftime(DATE_FORMAT) %></strong> <i>Inscrit il y a <%= show_waiting_list_age(waiting_list.age).html_safe %></i>
              <span class="label-tooltiptext  label-tooltip-bottom">Inscrit par <%= waiting_list.versions.first.whodunnit.nil? ? "Inconnu" : User.find(waiting_list.versions.first.whodunnit).andand.practitioner %></span>
            </span>
          </div>
          <div class="inscription_number">
            <%= index+1 %>
          </div>
          <%= render 'patients/patient_view', patient: waiting_list.patient %> 
          <div class="col-xs-12 waiting-list-row-action">  
            <% @patient = waiting_list.patient %>
            <span class="label-tooltip drop-menu waiting-list-availability-link col-xs-12 col-sm-6 col-md-12">Voir les disponibilités
              <span class="label-tooltiptext  label-tooltip-bottom"><%= week_calendar partial: 'patient_availabilities/patient_availability_calendar_display' do |date| %>
              
            <% end %></span>
            </span>

            <% if (can? :take_care, WaitingList) && !waiting_list.end_date.present? && !waiting_list.waiting_for_patient_return %>
              <%= link_to take_care_waiting_list_path(waiting_list), class: "btn btn-success btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('check') %> Prendre en charge
              <% end %>
            <% end %>
            <% if (can? :care_confirm, WaitingList) && waiting_list.waiting_for_patient_return %>
              <%= link_to care_confirm_waiting_list_path(waiting_list), class: "btn btn-success btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('check') %> Prise en charge confirmée
              <% end %>
            <% end %>
            <% if can? :add_interaction, WaitingList %>
              <%= link_to add_interaction_waiting_list_path(waiting_list), class: "btn btn-info btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('phone') %> Ajouter un appel
              <% end %>
            <% end %>
            <% if (can? :availability_not_compatible, WaitingList) && waiting_list.waiting_for_patient_return %>
              <%= link_to availability_not_compatible_waiting_list_path(waiting_list), class: "btn btn-warning btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('calendar-times-o') %> Horaires non compatibles
              <% end %>
            <% end %>
            <% if (can? :reregister_on_waiting_list, WaitingList) && waiting_list.end_date.present? && !waiting_list.waiting_for_patient_return %>
              <%= link_to reregister_on_waiting_list_waiting_list_path(waiting_list), class: "btn btn-success btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('repeat') %> Réinscrire sur la liste
              <% end %>
            <% end %>
            <% if (can? :stop_registration, WaitingList) && !waiting_list.end_date.present? && !waiting_list.waiting_for_patient_return%>
              <%= link_to stop_registration_waiting_list_path(waiting_list), class: "btn btn-danger btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('times') %> Supprimer de la liste
              <% end %>
            <% end %>
            <% if (can? :patient_never_return, WaitingList) && waiting_list.waiting_for_patient_return %>
              <%= link_to patient_never_return_waiting_list_path(waiting_list), class: "btn btn-danger btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('times') %> Le patient n'a pas rappelé
              <% end %>
            <% end %>
            <!--<% if can? :show, waiting_list %>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, waiting_list %>
            <% end %>-->
            <% if can? :edit, waiting_list %>
              <%= link_to edit_waiting_list_path(waiting_list), class: "btn btn-secondary btn-sm col-xs-12 col-sm-6 col-md-12" do %>
                <%= icon('pencil') %> Modifier
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <!-- FIXME : vérifier si commentaire vide ne marche pas. Je désactive-->
      <% if waiting_list.comments != "" && waiting_list.comments == "" %>
        <div class="row custom-panel">
          <div class="col-xs-12">
            <strong>Commentaire(s) :</strong> <%= waiting_list.comments %>
          </div>
        </div>
      <% end %>

      <% if index % 2 == 1 %>
        <div class="clearfix visible-sm-block"></div>
      <% end %>

      <% if index % 4 == 3 %>
        <div class="clearfix visible-md-block visible-lg-block"></div>
      <% end %>

    <% end %>
  </div>
<% else %>
  <div class="row text-center">
    <h3>Liste vide</h3>
  </div>
<% end %>