<h3><%= t('.title') %></h3>

<%= simple_form_for(@waiting_list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs row">

    <div class="form-group col-xs-12">
      <div id='patient'>
        <%= f.simple_fields_for :patient do |f| %>
          <%= render 'patients/patient_add_interaction_on_waiting_list_fields', f: f %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>