<h3><%= t('.title') %></h3>

<%= simple_form_for(@waiting_list) do |f| %>
  <%= f.error_notification %>
  <%= f.input :end_date, label: false, input_html: { class: "form-control" }, as: :hidden, value: f.object.start_date.strftime(DATE_FORMAT) %>

  <div class="form-inputs row">

    <%= render 'patients/patient_view', patient: @waiting_list.patient %> 

    <div class="form-group">
      <label for="comment" class="col-xs-12"><%= f.label :comment %></label>
      <div class="col-xs-12">
  		<%= f.input :comments, label: false, input_html: { class: "form-control" } %>        
      </div>
    </div>

    <div class="form-group col-xs-12">
      <div id='patient'>
        <%= f.simple_fields_for :patient do |f| %>
          <%= render 'patients/patient_take_care_on_waiting_list_fields', f: f %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <label for="waiting_for_patient_return" class="col-xs-12 col-md-6 text-center">
        Le patient doit rappeler pour confirmer la prise en charge ?
      </label>
      <div class="col-xs-12 col-md-6">
        <%= f.input :waiting_for_patient_return, label: false, input_html: { class: "form-control" } %>        
      </div>
    </div>

  </div>
  <br><br>
  <div class="form-actions">
    <%= f.button :submit, value: t('.submit'), class: "btn-lg btn-block" %>
  </div>
<% end %>


