<%= simple_form_for(@session) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="form-group">
      <label for="begin_date"><%= f.label :begin_date %></label>
      <%= f.input :begin_date, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="end_date"><%= f.label :end_date %></label>
      <%= f.input :end_date, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="therapy"><%= f.label :therapy %></label>
      <%= f.association :therapy, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="act"><%= f.label :act %></label>
      <%= f.association :act, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="practitioner"><%= f.label :practitioner %></label>
      <%= f.association :practitioner, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="health_place"><%= f.label :health_place %></label>
      <%= f.association :health_place, label: false, input_html: { class: "form-control" } %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
