<p id="notice"><%= notice %></p>

<h1>Sessions</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>Begin date</th>

      <th>End date</th>

      <th>Therapy</th>

      <th>Act</th>

      <th>Practitioner</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sessions.each do |session| %>
      <tr>

        <td><%= session.begin_date %></td>

        <td><%= session.end_date %></td>

        <td><%= session.therapy %></td>

        <td><%= session.act %></td>

        <td><%= session.practitioner %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, session %>
          <% if can? :edit, session %>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_session_path(session) %>
          <% end %>
          <% if can? :destroy, session %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, session, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Session %>
  <%= link_to 'New Session', new_session_path %>
<% end %>