<p id="notice"><%= notice %></p>

<h1>Offices</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>Name</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offices.each do |office| %>
      <tr>

        <td><%= office.name %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, office %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_office_path(office) %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, office, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office', new_office_path %>
