<%= simple_form_for(@interaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="form-group">
      <label for="patient"><%= f.label :patient %></label>
      <%= f.association :patient, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="practitioner"><%= f.label :practitioner %></label>
      <%= f.association :practitioner, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="interaction_object"><%= f.label :interaction_object %></label>
      <%= f.association :interaction_object, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="interaction_type"><%= f.label :interaction_type %></label>
      <%= f.association :interaction_type, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="interaction_date"><%= f.label :interaction_date %></label>
      <%= f.input :interaction_date, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="comments"><%= f.label :comments %></label>
      <%= f.input :comments, label: false, input_html: { class: "form-control" } %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
