 <div class="nested-fields row">

  <%= f.association :patient, label: false, input_html: { class: "form-control" }, as: :hidden %>
  <%= f.input :comments, label: false, input_html: { class: "form-control" }, as: :hidden %>

  <div class="row">
    <div class="form-group col-xs-12 col-md-6 row">
      <div class="col-xs-4">
        <label for="practitioner">Qui à reçu l'appel ?</label>
      </div>
      <div class="col-xs-8">
        <%= f.association :practitioner, label: false, input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group col-xs-12 col-md-6 row">
      <div class="col-xs-4">
        <label for="interaction_date">Quand</label>
      </div>
      <div class="col-xs-8">
        <%= f.text_field :interaction_date, label: false, class: "datepicker", value: f.object.interaction_date.andand.strftime(DATE_FORMAT) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-md-6 row">
      <div class="col-xs-4">
        <label for="interaction_type">Quoi ?</label>
      </div>
      <div class="col-xs-8">
        <%= f.association :interaction_type, label: false, input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="form-group col-xs-12 col-md-6 row">
      <div class="col-xs-4">
        <label for="interaction_object">Pourquoi ?</label>
      </div>
      <div class="col-xs-8">
        <%= f.association :interaction_object, label: false, input_html: { class: "form-control" } %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  $('select').select2();
  $('.datepicker').datepicker({
    format: "dd/mm/yyyy",
    autoclose: true
  });
</script>