<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @interaction.patient %>
</p>

<p>
  <strong>Interaction object:</strong>
  <%= @interaction.interaction_object %>
</p>

<p>
  <strong>Interaction type:</strong>
  <%= @interaction.interaction_type %>
</p>

<p>
  <strong>Interaction date:</strong>
  <%= @interaction.interaction_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @interaction.comments %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
