<%= simple_form_for(@practitioner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="form-group">
      <label for="first_name"><%= f.label :first_name %></label>
      <%= f.input :first_name, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="last_name"><%= f.label :last_name %></label>
      <%= f.input :last_name, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="birth_date"><%= f.label :birth_date %></label>
      <%= f.input :birth_date, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="birth_place"><%= f.label :birth_place %></label>
      <%= f.input :birth_place, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="practitioner_profession"><%= f.label :practitioner_profession %></label>
      <%= f.association :practitioner_profession, label: false, input_html: { class: "form-control" } %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
