<p id="notice"><%= notice %></p>

<h1>Practitioners</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>First name</th>

      <th>Last name</th>

      <th>Birth date</th>

      <th>Birth place</th>

      <th>Practitionerprofession</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @practitioners.each do |practitioner| %>
      <tr>

        <td><%= practitioner.first_name %></td>

        <td><%= practitioner.last_name %></td>

        <td><%= practitioner.birth_date %></td>

        <td><%= practitioner.birth_place %></td>

        <td><%= practitioner.PractitionerProfession %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, practitioner %>
          <% if can? :edit, practitioner %>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_practitioner_path(practitioner) %>
          <% end %>
          <% if can? :destroy, practitioner %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, practitioner, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Practitioner %>
  <%= link_to 'New Practitioner', new_practitioner_path %>
<% end %>