<p id="notice"><%= notice %></p>

<p>
  <strong>Professionnel de santé:</strong>
  <%= @practitioner.first_name %>
  <%= @practitioner.last_name %>
  <%= @practitioner.birth_date %>
  (<%= @practitioner.birth_place %>)
  <strong>Practitioner profession:</strong>
  <%= @practitioner.practitioner_profession %>
  <strong>Health place:</strong>
  <%= @practitioner.health_place %>
</p>

<%= link_to 'Edit', edit_practitioner_path(@practitioner) %> |
<%= link_to 'Back', practitioners_path %>

<%= render partial: 'calendrier', locals: {sessions: @practitioner.sessions} %>
