<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @interaction_type.name %>
</p>

<p>
  <strong>Glyphicon:</strong>
  <%= @interaction_type.glyphicon %>
</p>

<%= link_to 'Edit', edit_interaction_type_path(@interaction_type) %> |
<%= link_to 'Back', interaction_types_path %>
