<%= simple_form_for(@health_place) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="form-group">
      <label for="name"><%= f.label :name %></label>
      <%= f.input :name, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="health_place_type"><%= f.label :health_place_type %></label>
      <%= f.association :health_place_type, label: false, input_html: { class: "form-control" } %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
