<div class="simple-calendar">
  <div class="calendar-heading">
    <strong>Disponible : </strong>
    <a onclick="selectAll();">Tout le temps</a> | 
    <a onclick="selectPartOfDay(8, 11);">Le matin</a> | 
    <a onclick="selectPartOfDay(12, 13);">Le midi</a> | 
    <a onclick="selectPartOfDay(14, 16);">L'après-midi</a> | 
    <a onclick="selectPartOfDay(17, 19);">Le soir</a> | 
    <a onclick="selectAllDay(1);">Lundi</a> ( <a onclick="selectPartOfOneDay(8, 11, 1);">M</a> <a onclick="selectPartOfOneDay(12, 13, 1);">M</a> <a onclick="selectPartOfOneDay(14, 16, 1);">A</a> <a onclick="selectPartOfOneDay(17, 19, 1);">S</a> ) | 
    <a onclick="selectAllDay(2);">Mardi</a> ( <a onclick="selectPartOfOneDay(8, 11, 2);">M</a> <a onclick="selectPartOfOneDay(12, 13, 2);">M</a> <a onclick="selectPartOfOneDay(14, 16, 2);">A</a> <a onclick="selectPartOfOneDay(17, 19, 2);">S</a> ) | 
    <a onclick="selectAllDay(3);">Mercredi</a> ( <a onclick="selectPartOfOneDay(8, 11, 3);">M</a> <a onclick="selectPartOfOneDay(12, 13, 3);">M</a> <a onclick="selectPartOfOneDay(14, 16, 3);">A</a> <a onclick="selectPartOfOneDay(17, 19, 3);">S</a> ) | 
    <a onclick="selectAllDay(4);">Jeudi</a> ( <a onclick="selectPartOfOneDay(8, 11, 4);">M</a> <a onclick="selectPartOfOneDay(12, 13, 4);">M</a> <a onclick="selectPartOfOneDay(14, 16, 4);">A</a> <a onclick="selectPartOfOneDay(17, 19, 4);">S</a> ) | 
    <a onclick="selectAllDay(5);">Vendredi</a> ( <a onclick="selectPartOfOneDay(8, 11, 5);">M</a> <a onclick="selectPartOfOneDay(12, 13, 5);">M</a> <a onclick="selectPartOfOneDay(14, 16, 5);">A</a> <a onclick="selectPartOfOneDay(17, 19, 5);">S</a> ) 
    <br>

    
    

    <strong>Indisponible : </strong>
    <a onclick="unselectAll();">Tout le temps</a> | 
    <a onclick="unselectPartOfDay(8, 11);">Le matin</a> | 
    <a onclick="unselectPartOfDay(12, 13);">Le midi</a> | 
    <a onclick="unselectPartOfDay(14, 16);">L'après-midi</a> | 
    <a onclick="unselectPartOfDay(17, 19);">Le soir</a> | 
    <a onclick="unselectAllDay(1);">Lundi</a> ( <a onclick="unselectPartOfOneDay(8, 11, 1);">M</a> <a onclick="unselectPartOfOneDay(12, 13, 1);">M</a> <a onclick="unselectPartOfOneDay(14, 16, 1);">A</a> <a onclick="unselectPartOfOneDay(17, 19, 1);">S</a> ) | 
    <a onclick="unselectAllDay(2);">Mardi</a> ( <a onclick="unselectPartOfOneDay(8, 11, 2);">M</a> <a onclick="unselectPartOfOneDay(12, 13, 2);">M</a> <a onclick="unselectPartOfOneDay(14, 16, 2);">A</a> <a onclick="unselectPartOfOneDay(17, 19, 2);">S</a> ) | 
    <a onclick="unselectAllDay(3);">Mercredi</a> ( <a onclick="unselectPartOfOneDay(8, 11, 3);">M</a> <a onclick="unselectPartOfOneDay(12, 13, 3);">M</a> <a onclick="unselectPartOfOneDay(14, 16, 3);">A</a> <a onclick="unselectPartOfOneDay(17, 19, 3);">S</a> ) | 
    <a onclick="unselectAllDay(4);">Jeudi</a> ( <a onclick="unselectPartOfOneDay(8, 11, 4);">M</a> <a onclick="unselectPartOfOneDay(12, 13, 4);">M</a> <a onclick="unselectPartOfOneDay(14, 16, 4);">A</a> <a onclick="unselectPartOfOneDay(17, 19, 4);">S</a> ) | 
    <a onclick="unselectAllDay(5);">Vendredi</a> ( <a onclick="unselectPartOfOneDay(8, 11, 5);">M</a> <a onclick="unselectPartOfOneDay(12, 13, 5);">M</a> <a onclick="unselectPartOfOneDay(14, 16, 5);">A</a> <a onclick="unselectPartOfOneDay(17, 19, 5);">S</a> ) 
  </div>

  <div class="calendar-content">

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="table-head"></th>
          <% date_range.slice(0, 7).each do |day| %>
            <th class="wday"><%= t('date.abbr_day_names')[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr>
            <th>
              <div>
                <% (8..19).each do |h| %>
                  <div class="half-hour-row">
                    <%= h %> h 00
                  </div>
                  <div class="half-hour-row">
                    30
                  </div>
                <% end %>
              </div>
            </th>
            <% id = 0 %>
            <% calendar_availability = @waiting_list.patient.calendar_availability %>
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% (8..19).each do |h| %>
                  <% (0..3).each do |q| %>

                    <% div_id = "calendar_#{day.wday}_#{h}_#{q}" %>
                    <% availability = calendar_availability.days[day.wday][h*4+q] %>
                    <% input_name = "waiting_list[patient_attributes][patient_availabilities_attributes][" + id.to_s + "]" %>
                    <% input_id = "waiting_list_patient_attributes_patient_availabilities_attributes_" + id.to_s %> 
                    <% id = id + 1 %> 
                    <div class="quarter-hour-row <%= availability.available ? "quarter-hour-row-selected" : "" %>" id="<%= div_id %>" onmouseover="mouseOver('<%= div_id %>', '<%= input_id %>');" onclick="changeClass('<%= div_id %>', '<%= input_id %>');">          

                      <input type="hidden" value="<%= availability.day %>" name="<%= input_name %>[day]" id="<%= input_id %>_day">
                      <input type="hidden" value="<%= availability.period %>" name="<%= input_name %>[period]" id="<%= input_id %>_period">
                      <input type="hidden" value="<%= availability.available %>" name="<%= input_name %>[available]" id="<%= input_id %>_available">
                      <% if availability.id.nil? %>
                        <input type="hidden" value="<%= availability.id %>" name="<%= input_name %>[id]" id="<%= input_id %>_id">
                      <% end %> 
                    </div>
                  <% end %>

                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  var mouseDown = 0;
  document.body.onmousedown = function() { 
      mouseDown = 1;
  }
  document.body.onmouseup = function() {
      mouseDown = 0;
  }

  
  function changeClass(id, input_id){
    if($("#" + id).attr('class') == "quarter-hour-row quarter-hour-row-selected"){
      $("#" + id).attr("class", "quarter-hour-row");
      $("#" + id + " #" + input_id + "_available").attr("value", false);
    }else{
      $("#" + id).attr("class", "quarter-hour-row quarter-hour-row-selected");
      $("#" + id + " #" + input_id + "_available").attr("value", true);
    }    

    
  }
  function mouseOver(id, input_id){
    if (mouseDown == 1) {
      changeClass(id, input_id);
    }
  }

  function selectAllDay(day){
    $( ".wday-" + day + " .quarter-hour-row" ).each(function( index ) {
      $( this ).find( "input[name*='[available]']" ).attr("value", true);
      $( this ).attr("class", "quarter-hour-row quarter-hour-row-selected");
    });
    
  }

  function unselectAllDay(day){
    $( ".wday-" + day + " .quarter-hour-row" ).each(function( index ) {
      $( this ).find( "input[name*='[available]']" ).attr("value", false);
      $( this ).attr("class", "quarter-hour-row");
    });
    
  }

  function unselectAll(){
    $( ".quarter-hour-row" ).each(function( index ) {
      $( this ).find( "input[name*='[available]']" ).attr("value", false);
      $( this ).attr("class", "quarter-hour-row");
    });
    
  }

  function selectAll(){
    var id = [1, 2, 3, 4, 5];

    id.forEach(function(element) {
      selectAllDay(element)
    });
  }

  function unselectPartOfDay(begin_hour, end_hour){
    for (pas = begin_hour; pas <= end_hour; pas++) {
      for (day = 1; day <= 5; day++) {
        $( "div[id*='calendar_" + day + "_" + pas + "_']" ).each(function( index ) {
          $( this ).attr("class", "quarter-hour-row");
          $( this ).find( "input[name*='[available]']" ).attr("value", false);
        });
    
      }
    }
  }

  function selectPartOfDay(begin_hour, end_hour){
    for (pas = begin_hour; pas <= end_hour; pas++) {
      for (day = 1; day <= 5; day++) {
        $( "div[id*='calendar_" + day + "_" + pas + "_']" ).each(function( index ) {
          $( this ).attr("class", "quarter-hour-row quarter-hour-row-selected");
          $( this ).find( "input[name*='[available]']" ).attr("value", true);
        });
    
      }
    }
  }

  function unselectPartOfOneDay(begin_hour, end_hour, day){
    for (pas = begin_hour; pas <= end_hour; pas++) {
      $( "div[id*='calendar_" + day + "_" + pas + "_']" ).each(function( index ) {
        $( this ).attr("class", "quarter-hour-row");
        $( this ).find( "input[name*='[available]']" ).attr("value", false);
      });
    }
  }

  function selectPartOfOneDay(begin_hour, end_hour, day){
    for (pas = begin_hour; pas <= end_hour; pas++) {
      $( "div[id*='calendar_" + day + "_" + pas + "_']" ).each(function( index ) {
        $( this ).attr("class", "quarter-hour-row quarter-hour-row-selected");
        $( this ).find( "input[name*='[available]']" ).attr("value", true);
      });
    }
  }
</script>
