<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <label for="email"><%= f.label :email %></label>
      <%= f.input :email, label: false %>
      <small id="emailHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="password"><%= f.label :password %></label>
      <%= f.input :password, label: false %>
      <small id="passwordHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="sign_in_count"><%= f.label :sign_in_count %></label>
      <%= f.input :sign_in_count, label: false %>
      <small id="sign_in_countHelp" class="form-text text-muted"></small>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
