<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>Email</th>

      <th>Password</th>

      <th>Sign in count</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>

        <td><%= user.email %></td>

        <td><%= user.password %></td>

        <td><%= user.sign_in_count %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, user %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_user_path(user) %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
