<p id="notice"><%= notice %></p>

<h1>Pathologies</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>Name</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pathologies.each do |pathology| %>
      <tr>

        <td><%= pathology.name %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, pathology %>
          <% if can? :edit, pathology %>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_pathology_path(pathology) %>
          <% end %>
          <% if can? :destroy, pathology %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, pathology, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Pathology %>
  <%= link_to 'New Pathology', new_pathology_path %>
<% end %>