<p id="notice"><%= notice %></p>

<h1>Practitioner Professions</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>Name</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @practitioner_professions.each do |practitioner_profession| %>
      <tr>

        <td><%= practitioner_profession.name %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, practitioner_profession %>
          <% if can? :edit, practitioner_profession %>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_practitioner_profession_path(practitioner_profession) %>
          <% end %>
          <% if can? :destroy, practitioner_profession %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, practitioner_profession, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Practitioner Profession %>
  <%= link_to 'New Practitioner Profession', new_practitioner_profession_path %>
<% end %>