<p id="notice"><%= notice %></p>

<h1>Versions</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>Item type</th>

      <th>Item</th>

      <th>Event</th>

      <th>Whodunnit</th>

      <th>Object</th>

      <th>Created at</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>

        <td><%= version.item_type %></td>

        <td><%= version.item_id %></td>

        <td><%= version.event %></td>

        <td><%= version.whodunnit %></td>

        <td><%= version.object %></td>

        <td><%= version.created_at %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, version %>
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_paper_trail_version_path(version) %>
          <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, version, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Version', new_paper_trail_version_path %>
