<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>
  <%= f.input :birth_place, label: false, input_html: { class: "form-control" }, as: :hidden %>

  <div class="form-inputs row">
    <div class="col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('.coordonnees') %></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-xs-7">
              <%= f.radio_button :is_male, "0", input_html: { class: "form-control" }, checked: !@patient.is_male %>
              <label for="is_male">F</label>
              
              <%= f.radio_button :is_male, "1", input_html: { class: "form-control" }, checked: @patient.is_male %>
              <label for="is_male">M</label>
            </div>

            <div class="form-group col-xs-5">
              <%= f.input :priority, inline_label: true %>
            </div>
          </div>

            <div class="form-group col-xs-12">
              <label for="last_name"><%= f.label :last_name %></label>
              <%= f.input :last_name, label: false, input_html: { class: "form-control" }, placeholder: t('activerecord.attributes.patient.last_name') %>
            </div>
            <div class="form-group col-xs-12">
              <label for="first_name"><%= f.label :first_name %></label>
              <%= f.input :first_name, label: false, input_html: { class: "form-control" }, placeholder: t('activerecord.attributes.patient..first_name') %>
            </div>

            <div class="form-group col-xs-12">
              <label for="birth_date"><%= f.label :birth_date %></label>
              <%= f.text_field :birth_date, label: false, class: "datepicker" %>
            </div>

            <div class="form-group col-xs-12">
              <label for="contact_informations"><%= f.label :contact_informations %></label>      
              <div id='contact_informations'>
                <%= f.simple_fields_for :contact_informations do |f| %>
                  <%= render 'contact_informations/contact_information_value_field', f: f %>
                <% end %> 
                <div class='links'>
                  <%= link_to_add_association t(:add_contact_information), f, :contact_informations, partial: 'contact_informations/contact_information_value_field' %>
                </div>
              </div>
            </div>
          </div>         

        </div>
      </div>
      <div class="col-xs-9">
        <div class="panel panel-default row">
          <div class="panel-heading">
            <h3 class="panel-title"><%= t('.informations') %></h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-6">
                <div class="form-group col-xs-12">
                  <label for="pathologies"><%= f.label :pathologies %></label>
                  <%= f.association :pathologies, label: false, input_html: { class: "form-control", witdh: "100%" } %>
                </div>

                <div class="form-group col-xs-12">
                  <label for="acts"><%= f.label :acts %></label>
                  <%= f.association :acts, label: false, input_html: { class: "form-control", witdh: "100%" } %>
                </div>

                <div class="form-group">
                  <label for="comments"><%= f.label :comments %></label>
                  <%= f.input :comments, label: false, input_html: { class: "form-control", rows: 10 } %>
                </div>
                <div class="form-group col-xs-12">
                  <label for="addresses"><%= f.label :addresses %></label>      
                  <div id='addresses'>
                    <%= f.simple_fields_for :addresses do |f| %>
                      <%= render 'addresses/address_fields', f: f %>
                    <% end %> 
                    <div class='links'>
                      <%= link_to_add_association t(:add_address), f, :addresses, partial: 'addresses/address_fields' %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group col-xs-12">
                  <label for="interactions"><%= f.label :patient_availabilities %></label>   
                  <div class='links'>
                    <%= link_to_add_association t(:add_patient_availability), f, :patient_availabilities, partial: 'patient_availabilities/patient_availability_fields', :data => {"association-insertion-method" => "after"} %>
                  </div>   
                  <div id='interactions'>
                    <%= f.simple_fields_for :patient_availabilities do |patient_availability| %>
                      <%= render 'patient_availabilities/patient_availability_fields', f: patient_availability %>
                    <% end %> 
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <label for="interactions"><%= f.label :interactions %></label>   
                  <div class='links'>
                    <%= link_to_add_association t(:add_interaction), f, :interactions, partial: 'interactions/interaction_fields', :data => {"association-insertion-method" => "after"} %>
                  </div>   
                  <div id='interactions'>
                    <%= f.simple_fields_for :interactions do |interaction| %>
                      <%= render 'interactions/interaction_fields', f: interaction %>
                    <% end %> 
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <label for="therapies"><%= f.label :therapies %></label>
                  <div class='links'>
                    <%= link_to_add_association t(:add_therapy), f, :therapies, partial: 'therapies/therapy_fields', :data => {"association-insertion-method" => "after"} %>
                  </div>    
                  <div id='therapies'>
                    <%= f.simple_fields_for :therapies do |therapy| %>
                      <%= render 'therapies/therapy_fields', f: therapy %>
                    <% end %> 
                  </div>
                </div>
                <div class="form-group col-xs-12">
                  <label for="job"><%= f.label :job %></label>
                  <%= f.input :job, label: false, input_html: { class: "form-control" } %>
                </div>
                <div class="form-group col-xs-12">
                  <label for="schoolings"><%= f.label :schoolings %></label>      
                  <div class='links'>
                    <%= link_to_add_association t(:add_schooling), f, :schoolings, partial: 'schoolings/schooling_fields', :data => {"association-insertion-method" => "after"} %>
                  </div>
                  <div id='schoolings' class="schoolings">
                    <%= f.simple_fields_for :schoolings do |schooling| %>
                      <%= render 'schoolings/schooling_fields', f: schooling %>
                    <% end %> 
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <label for="waiting_lists"><%= f.label :waiting_lists %></label>      
                  <div class='links'>
                    <%= link_to_add_association t(:add_waiting_list), f, :waiting_lists, partial: 'waiting_lists/waiting_list_fields', :data => {"association-insertion-method" => "after"} %>
                  </div>
                  <div id='schoolings' class="waiting_lists">
                    <%= f.simple_fields_for :waiting_lists do |waiting_list| %>
                      <%= render 'waiting_lists/waiting_list_fields', f: waiting_list %>
                    <% end %> 
                  </div>
                </div>
              </div>


            </div>

          </div>

      </div>
    </div> 
  </div> 

  <div class="form-actions row">
    <%= f.button :submit %>
  </div>
<% end %>
