<%= simple_form_for(@patient, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group">
      <label for="last_name"><%= f.label :last_name %></label>
      <%= f.input :last_name, label: false, input_html: { class: "form-control" } %>
      <small id="last_nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="first_name"><%= f.label :first_name %></label>
      <%= f.input :first_name, label: false, input_html: { class: "form-control" } %>
      <small id="first_nameHelp" class="form-text text-muted"></small>
    </div>
    <div class="field form-group">
      <label for="birth_date"><%= f.label :birth_date %></label>
      <%= f.input :birth_date, label: false, input_html: { class: "datepicker" }, as: :string %>
      <small id="birth_dateHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="birth_place"><%= f.label :birth_place %></label>
      <%= f.input :birth_place, label: false, input_html: { class: "form-control" } %>
      <small id="birth_placeHelp" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="phone_number"><%= f.label :phone_number %></label>
      <%= f.input :phone_number, label: false, input_html: { class: "form-control" } %>
      <small id="phone_numberHelp" class="form-text text-muted"></small>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
