<div class="row col-xs-12 patient_view">
  <div class="row col-xs-12">
    <div class="col-xs-11">
      <%= patient.is_male ? (image_tag "male.png", width: 18) : (image_tag "female.png", width: 18) %> 
  <%= patient.last_name %> <%= patient.first_name %> <%= patient.age ? "("+patient.age.to_s+" ans)".html_safe : "" %> - 
  <i><%= patient.schoolings.currents.first.andand.school_level.andand.name  || patient.job || "Classe/métier non défini" %></i> - 
  <strong>Contact(s) : </strong>
  <% patient.contact_informations.each do |contact_information| %>
   <%= contact_information.value %> - 
  <% end %>
    </div>
    <div class="col-xs-1">
      <%= patient.priority ? (image_tag "star.png", width: 18) : "" %>
    </div>
  </div> 
  
  <div class="row col-xs-12">
    <i>
      <% 
        patient.pathologies.each do |pathology| %>
          <%= pathology.name %> - 
        <% end
      %>
    </i>
   
    <br><%= patient.interactions.count %> appel(s) 

    <% if patient.interactions.count > 0 %>
      <%= link_to 'Voir le detail', nil,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'+patient.id.to_s}  %>
      <div class="modal fade" id="myModal<%= patient.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Appel(s) de <%= patient.last_name %> <%= patient.first_name %></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <% patient.interactions.each do |interaction| %>
                <%= interaction.interaction_date %> - <%= interaction.interaction_type %> - <%= interaction.interaction_object %> - 
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <br><strong>Commentaires :</strong><br> 
    <i><%= patient.comments || 'Aucun commentaire' %></i>
  </div>  
</div>