<h1><%= t('.title') %><span class="badge"><%= @patients.count %></span></h1>

<div class="row">
  <div class="col-md-2">
    <legend class="filter-title"><%= t :filter_title %></legend>
  </div>
  <div class="col-md-3 btn-new-top">
    <% if can? :create, Patient %>
      <%= link_to ('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :last_name_cont, {placeholder: t('activerecord.attributes.patient.last_name')} %>

        <%= f.search_field :first_name_cont, {placeholder: t('activerecord.attributes.patient.first_name')} %>

        <%= f.search_field :is_male_cont, {placeholder: t('activerecord.attributes.patient.is_male')} %>

        <%= f.search_field :birth_date_cont, {placeholder: t('activerecord.attributes.patient.birth_date')} %>

        <%= f.search_field :birth_place_cont, {placeholder: t('activerecord.attributes.patient.birth_place')} %>

        <%= f.search_field :priority_cont, {placeholder: t('activerecord.attributes.patient.priority')} %>

        <%= f.search_field :comments_cont, {placeholder: t('activerecord.attributes.patient.comments')} %>

        <%= f.search_field :job_cont, {placeholder: t('activerecord.attributes.patient.job')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-default btn-search-filter' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col-md-10">
    <table class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :last_name, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :first_name, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :is_male, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :birth_date, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :birth_place, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :priority, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :comments, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :job, default_order: :asc) %></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @patients.each do |patient| %>
          <tr>
    
            <td colspan="8"> 
              <%= render 'patient_view', patient: patient %> 
            </td> 
    
            <td>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, patient %>
              <% if can? :edit, patient %>
                <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_patient_path(patient) %>
              <% end %>
              <% if can? :destroy, patient %>
                <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, patient, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @patients %>
  </div>
</div>