<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>

      <th>Last name</th>

      <th>First name</th>

      <th>Birth date</th>

      <th>Birth place</th>

      <th>Phone number</th>

      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>

        <td><%= patient.last_name %></td>

        <td><%= patient.first_name %></td>

        <td><%= patient.birth_date %></td>

        <td><%= patient.birth_place %></td>

        <td><%= patient.phone_number %></td>

        <td>
          <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, patient %>
          <% if can? :edit, patient %>
            <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_patient_path(patient) %>
          <% end %>
          <% if can? :destroy, patient %>
            <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, patient, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Patient %>
  <%= link_to 'New Patient', new_patient_path %>
<% end %>