<%= simple_form_for(@schooling) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="form-group">
      <label for="patient"><%= f.label :patient %></label>
      <%= f.association :patient, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="school"><%= f.label :school %></label>
      <%= f.association :school, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="school_level"><%= f.label :school_level %></label>
      <%= f.association :school_level, label: false, input_html: { class: "form-control" } %>
    </div>

    <div class="form-group">
      <label for="school_year"><%= f.label :school_year %></label>
      <%= f.association :school_year, label: false, input_html: { class: "form-control" } %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
