<p id="notice"><%= notice %></p>

<h1><%= t('.title') %><span class="badge"><%= @schoolings.count %></span></h1>

<div class="row">
  <div class="col-md-2">
    <legend class="filter-title"><%= t :filter_title %></legend>
  </div>
  <div class="col-md-3 btn-new-top">
    <% if can? :create, Schooling %>
      <%= link_to ('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :patient_cont, {placeholder: t('activerecord.attributes.schooling.patient')} %>

        <%= f.search_field :school_cont, {placeholder: t('activerecord.attributes.schooling.school')} %>

        <%= f.search_field :school_level_cont, {placeholder: t('activerecord.attributes.schooling.school_level')} %>

        <%= f.search_field :school_year_cont, {placeholder: t('activerecord.attributes.schooling.school_year')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-default btn-search-filter' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col-md-10">
    <table class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :patient, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :school, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :school_level, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :school_year, default_order: :asc) %></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @schoolings.each do |schooling| %>
          <tr>
    
            <td><%= schooling.patient %></td>
    
            <td><%= schooling.school %></td>
    
            <td><%= schooling.school_level %></td>
    
            <td><%= schooling.school_year %></td>
    
            <td>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, schooling %>
              <% if can? :edit, schooling %>
                <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_schooling_path(schooling) %>
              <% end %>
              <% if can? :destroy, schooling %>
                <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, schooling, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @schoolings %>
  </div>
</div>