<p id="notice"><%%= notice %></p>

<h1><%= plural_table_name.titleize %></h1>

<table class="table table-hover table-condensed table-bordered">
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td>
          <%%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, <%= singular_table_name %> %>
          <%% if can? :edit, <%= singular_table_name %> %>
            <%%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
          <%% end %>
          <%% if can? :destroy, <%= singular_table_name %> %>
            <%%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %>
          <%% end %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%% if can? :create, <%= plural_table_name.classify  %> %>
  <%%= link_to '<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New <%= singular_table_name.titleize %>'.html_safe, new_<%= singular_table_name %>_path, class: "btn" %>
<%% end %>