<div class="nested-fields row">
  <%= f.association :patient, label: false, input_html: { class: "form-control" }, as: :hidden %>
    <%= f.input :session_duration, label: false, input_html: { class: "form-control" }, as: :hidden %>
    <%= f.input :number_of_sessions, label: false, input_html: { class: "form-control" }, as: :hidden %>

  <div class="form-group col-xs-4">
    <label for="practitioner"><%= f.label :practitioner %></label>
    <%= f.association :practitioner, label: false, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group col-xs-3">
    <label for="health_place"><%= f.label :health_place %></label>
    <%= f.association :health_place, label: false, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group col-xs-2">
    <label for="begin_date"><%= f.label :begin_date %></label>
    <%= f.input :begin_date, label: false, as: :text, input_html: { class: "datepicker" } %>
  </div>

  <div class="form-group col-xs-2">
    <label for="end_date"><%= f.label :end_date %></label>
    <%= f.input :end_date, label: false, as: :text, input_html: { class: "datepicker" } %>
  </div>
  

  <div class="form-group col-xs-1">
    <%= link_to_remove_association '<i class="glyphicon glyphicon-remove"></i>'.html_safe, f %>
  </div>

</div>
<script type="text/javascript">
  $('select').select2();
</script>