<%= f.association :patient, label: false, input_html: { class: "form-control" }, as: :hidden %>
<%= f.input :session_duration, label: false, input_html: { class: "form-control" }, as: :hidden %>
<%= f.input :number_of_sessions, label: false, input_html: { class: "form-control" }, as: :hidden %>
<div class="nested-fields row">
  <div class="form-group col-xs-4">
    <%= f.association :practitioner, label: false, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group col-xs-3">
    <%= f.association :health_place, label: false, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group col-xs-2">
    <%= f.input :begin_date, label: false, as: :text, input_html: { class: "datepicker" } %>
  </div>

  <div class="form-group col-xs-2">
    <%= f.input :end_date, label: false, as: :text, input_html: { class: "datepicker" } %>
  </div>  

  <div class="form-group col-xs-1">
    <%= link_to_remove_association '<i class="glyphicon glyphicon-remove"></i>'.html_safe, f %>
  </div>
</div>

<script type="text/javascript">
  $('select').select2();
</script>