<p id="notice"><%= notice %></p>

<h1><%= t('.title') %><span class="badge"><%= @addresses.count %></span></h1>

<div class="row">
  <div class="col-md-2">
    <legend class="filter-title"><%= t :filter_title %></legend>
  </div>
  <div class="col-md-3 btn-new-top">
    <% if can? :create, Address %>
      <%= link_to ('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :name_cont, {placeholder: t('activerecord.attributes.address.name')} %>

        <%= f.search_field :street_number_cont, {placeholder: t('activerecord.attributes.address.street_number')} %>

        <%= f.search_field :street_name_cont, {placeholder: t('activerecord.attributes.address.street_name')} %>

        <%= f.search_field :postal_code_cont, {placeholder: t('activerecord.attributes.address.postal_code')} %>

        <%= f.search_field :city_cont, {placeholder: t('activerecord.attributes.address.city')} %>

        <%= f.search_field :latitude_cont, {placeholder: t('activerecord.attributes.address.latitude')} %>

        <%= f.search_field :longitude_cont, {placeholder: t('activerecord.attributes.address.longitude')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-default btn-search-filter' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col-md-10">
    <table class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :name, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :street_number, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :street_name, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :postal_code, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :city, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :latitude, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :longitude, default_order: :asc) %></th>
    
          <th></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @addresses.each do |address| %>
          <tr>
    
            <td><%= address.name %></td>
    
            <td><%= address.street_number %></td>
    
            <td><%= address.street_name %></td>
    
            <td><%= address.postal_code %></td>
    
            <td><%= address.city %></td>
    
            <td><%= address.latitude %></td>
    
            <td><%= address.longitude %></td>
    
            <td><%= address.addressable %></td>
    
            <td>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, address %>
              <% if can? :edit, address %>
                <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_address_path(address) %>
              <% end %>
              <% if can? :destroy, address %>
                <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, address, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @addresses %>
  </div>
</div>