<p id="notice"><%= notice %></p>

<h1><%= t('.title') %><span class="badge"><%= @schools.count %></span></h1>

<div class="row">
  <div class="col-md-2">
    <legend class="filter-title"><%= t :filter_title %></legend>
  </div>
  <div class="col-md-3 btn-new-top">
    <% if can? :create, School %>
      <%= link_to ('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :name_cont, {placeholder: t('activerecord.attributes.school.name')} %>

        <%= f.search_field :school_type_name_cont, {placeholder: t('activerecord.attributes.school.school_type')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-default btn-search-filter' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col-md-10">
    <table class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :name, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :school_type, default_order: :asc) %></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @schools.each do |school| %>
          <tr>
    
            <td><%= school.name %></td>
    
            <td><%= school.school_type %></td>
    
            <td>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, school %>
              <% if can? :edit, school %>
                <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_school_path(school) %>
              <% end %>
              <% if can? :destroy, school %>
                <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, school, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @schools %>
  </div>
</div>