<p id="notice"><%= notice %></p>

<h1><%= t('.title') %><span class="badge"><%= @health_place_types.count %></span></h1>

<div class="row">
  <div class="col-md-2">
    <legend class="filter-title"><%= t :filter_title %></legend>
  </div>
  <div class="col-md-3 btn-new-top">
    <% if can? :create, HealthPlaceType %>
      <%= link_to ('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> '+t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-default" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :name_cont, {placeholder: t('activerecord.attributes.health_place_type.name')} %>
        <br>
        <br>
        <%= f.submit class: 'btn btn-default btn-search-filter' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col-md-10">
    <table class="table table-hover table-condensed table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :name, default_order: :asc) %></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @health_place_types.each do |health_place_type| %>
          <tr>
    
            <td><%= health_place_type.name %></td>
    
            <td>
              <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, health_place_type %>
              <% if can? :edit, health_place_type %>
                <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_health_place_type_path(health_place_type) %>
              <% end %>
              <% if can? :destroy, health_place_type %>
                <%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, health_place_type, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>