<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid" id="header_container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Ortho-planner', '/', class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <% if user_signed_in?  %>
        <ul class="nav navbar-nav ">        
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MyOrthoPlanner
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <% if can? :read, :patient %>
              <li><%= link_to(t('.patients'), patients_path)  %> </li>
            <% end %>
            <% if can? :read, :therapy %>
              <li><%= link_to(t('.therapies'), therapies_path)  %> </li>
            <% end %>
            <% if can? :read, :session %>
              <li><%= link_to(t('.sessions'), sessions_path)  %> </li>
            <% end %>
            <% if can? :read, :act %>
              <li><%= link_to(t('.waiting_lists'), waiting_lists_path)  %> </li>
            <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav ">        
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dictionnaires
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <% if can? :read, :practitioner %>
              <li><%= link_to(t('.practitioners'), practitioners_path)  %></li>
            <% end %>
            <% if can? :read, :practitioner_profession %>
              <li><%= link_to(t('.practitioner_professions'), practitioner_professions_path)  %></li>
            <% end %>
            <% if can? :read, :health_place %>
              <li><%= link_to(t('.health_places'), health_places_path)  %> </li>
            <% end %>
            <% if can? :read, :health_place_type %>
              <li><%= link_to(t('.health_place_types'), health_place_types_path)  %> </li>
            <% end %>
            <% if can? :read, :pathology %>
              <li><%= link_to(t('.pathologies'), pathologies_path)  %> </li>
            <% end %>
            <% if can? :read, :act %>
              <li><%= link_to(t('.acts'), acts_path)  %> </li>
            <% end %>
            </ul>
          </li>
        </ul>
        <% if current_user.has_role? :admin %>
          <ul class="nav navbar-nav ">        
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
              <% if can? :read, User %>
                <li><%= link_to(t('.users'), users_path)  %> </li>
                <li><%= link_to(t('.paper_trail_versions'), paper_trail_versions_path)  %> </li>
              <% end %>
              </ul>
            </li>
          </ul>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class='glyphicon glyphicon-engrenage glyphicon glyphicon-engrenage-white'></i><%= current_user.email %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= Time.zone.now.to_s %><br><%= Time.zone.to_s %><bR><%= Time.zone.now.utc_offset.to_s %></li>
            </ul>
          </li>
          <li><%= link_to('Se déconnecter', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

    


  </div>
</nav>