<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid" id="header_container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Ortho-planner', '/', class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <% if user_signed_in?  %>
        <ul class="nav navbar-nav ">        
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MyOrthoPlanner
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <% if can? :read, Patient %>
              <li><%= link_to(t('.patients'), patients_path)  %> </li>
            <% end %>
            <% if can? :read, Therapy %>
              <li><%= link_to(t('.therapies'), therapies_path)  %> </li>
            <% end %>
            <% if can? :read, Session %>
              <li><%= link_to(t('.sessions'), sessions_path)  %> </li>
            <% end %>
            <% if can? :read, WaitingList %>
              <li><%= link_to(t('.waiting_lists'), waiting_lists_path)  %> </li>
            <% end %>
            <% if can? :read, Absence %>
              <li><%= link_to(t('.absences'), absences_path)  %> </li>
            <% end %>
            <% if can? :read, Interaction %>
              <li><%= link_to(t('.interactions'), interactions_path)  %> </li>
            <% end %>
            <% if can? :read, Schooling %>
              <li><%= link_to(t('.schoolings'), schoolings_path)  %> </li>
            <% end %>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav ">        
            <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dictionnaires
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <% if can? :read, Practitioner %>
              <li><%= link_to(t('.practitioners'), practitioners_path)  %></li>
            <% end %>
            <% if can? :read, PractitionerProfession %>
              <li><%= link_to(t('.practitioner_professions'), practitioner_professions_path)  %></li>
            <% end %>
            <% if can? :read, HealthPlace %>
              <li><%= link_to(t('.health_places'), health_places_path)  %> </li>
            <% end %>
            <% if can? :read, HealthPlaceType %>
              <li><%= link_to(t('.health_place_types'), health_place_types_path)  %> </li>
            <% end %>
            <% if can? :read, Pathology %>
              <li><%= link_to(t('.pathologies'), pathologies_path)  %> </li>
            <% end %>
            <% if can? :read, Act %>
              <li><%= link_to(t('.acts'), acts_path)  %> </li>
            <% end %>
            <% if can? :read, InteractionType %>
              <li><%= link_to(t('.interaction_types'), interaction_types_path)  %> </li>
            <% end %>
            <% if can? :read, InteractionObject %>
              <li><%= link_to(t('.interaction_objects'), interaction_objects_path)  %> </li>
            <% end %>
            <% if can? :read, School %>
              <li><%= link_to(t('.schools'), schools_path)  %> </li>
            <% end %>
            <% if can? :read, SchoolLevel %>
              <li><%= link_to(t('.school_levels'), school_levels_path)  %> </li>
            <% end %>
            <% if can? :read, SchoolType %>
              <li><%= link_to(t('.school_types'), school_types_path)  %> </li>
            <% end %>
            <% if can? :read, SchoolYear %>
              <li><%= link_to(t('.school_years'), school_years_path)  %> </li>
            <% end %>
            <% if can? :read, Address %>
              <li><%= link_to(t('.addresses'), addresses_path)  %> </li>
            <% end %>
            </ul>
          </li>
        </ul>
        <% if current_user.has_role? :admin %>
          <ul class="nav navbar-nav ">        
              <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
              <% if can? :read, User %>
                <li><%= link_to(t('.users'), users_path)  %> </li>
                <li><%= link_to(t('.paper_trail_versions'), paper_trail_versions_path)  %> </li>
              <% end %>
              </ul>
            </li>
          </ul>
        <% end %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class='glyphicon glyphicon-engrenage glyphicon glyphicon-engrenage-white'></i><%= current_user.email %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= Time.zone.now.to_s %><br><%= Time.zone.to_s %><bR><%= Time.zone.now.utc_offset.to_s %></li>
            </ul>
          </li>
          <li><%= link_to('Se déconnecter', destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to('Login', new_user_session_path)  %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

    


  </div>
</nav>